@import "./colors.scss";

#app {
  min-height: 100vh;
  display: grid;
  background: url("../resources/acrylic.jpeg");
  grid-template-areas:
    "menu header ."
    ". container ."
    "footer footer footer";
  grid-template-rows: 5vh 90vh 5vh;
  grid-template-columns: 5vw auto 5vw;
  box-sizing: border-box;
}

#menu {
  grid-area: menu;
  align-self: center;
}

#header {
  grid-area: header;
  align-self: center;
  justify-self: center;
}

#container {
  background-color: rgba(255, 255, 255, 0.3);
}

#footer {
  grid-area: footer;
  align-self: center;
}

.app {
  text-align: center;
}

.credits {
  color: $color-light-sky-blue;
  text-align: center;
}

.link-text {
  color: $color-light-sky-blue;
}

.app-link {
  color: black;
  text-decoration: none;
  display: flex;
  align-items: center;
}
