$color-dark-violet-red: #a04;
$color-medium-violet-red: #e07;
$color-light-violet-red: #e49;
$color-dark-orchid: #605;
$color-medium-orchid: #908;
$color-light-orchid: #a6a;
$color-medium-violet: #73a;
$color-dark-violet: #418;
$color-light-violet: #87c;
$color-medium-blue: #44c;
$color-dodger-blue: #48d;
$color-bright-blue: #08e;
$color-gray: #8ab;
$color-light-sky-blue: #9de;
$color-cyan: #0ee;
